<%- include('partials/header') %>
<h2><%= tender.title %></h2>
<div class="details"><h3>Instytucja</h3><%= tender.institution %></div>
<div class="details"><h3>Opis</h3><%= tender.description %></div>
<% if (new Date(tender.end_datetime) > new Date()) { %>
  <a href="/tenders/<%= tender.id %>/offer" class="submit details">Złóż ofertę</a>
<% } else { %>
  <div class="details">
    <h3>Oferty</h3>
    <% if (offers.length) { %>
      <table>
        <tr><th>#</th><th>Nazwa składającego</th><th>Wartość</th><th>Data złożenia</th></tr>
        <% offers.forEach((t,i) => { %>
          <% if (t.amount <= tender.max_budget) { %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= t.name %></a></td>
              <td><%= t.amount %></td>
              <td><%= t.submitted_at %></td>
            </tr>
          <% } %>
        <% }) %>
      </table>
    <% } else { %>
      <p>Brak ofert lub brak rozstrzygnięcia.</p>
    <% } %>
  </div>
<% } %>
<%- include('partials/footer') %>